@font-face {
  font-family: 'Norse';
  src: url('./fonts/Norse-Bold.woff2') format('woff2'),
      url('./fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  min-height: 100vh;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
}

.image-sidebar {
  width: 30%;
  background: url(./images/background.avif) no-repeat center center / cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(0 0 0 / 50%);
  padding: 1rem 1.5rem;
  gap: 1rem;
}

.odin-logo {
  width: 70px;
  display: block;
}

.site-title {
  font-family: 'Norse', sans-serif;
  color: #fff;
  font-size: 4rem;
}

.photo-credit {
  position: absolute;
  color: #fff;
  font-size: 0.85rem;
  left: 10rem;
  bottom: 2rem;
}

.photo-credit a {
  color: #fff;
  text-decoration: underline;
}

.form-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.form-container h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.signup-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.form-box {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  padding: 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.form-intro {
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  margin-left: 5rem;
}

.form-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  margin-bottom: 1rem;
  margin-left: 5rem;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.field-group label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.signup-form input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  width: 250px;
  padding: 0.5rem;
  font-size: 1rem;
}

.signup-form input:focus {
  outline: none;
  border: 1px solid #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.signup-form input[type="password"]:invalid {
  border: 1px solid red;
}

.submit-btn {
  background-color: #596d48;
  color: #fff;
  border: none;
  padding: 0.9rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 250px;
  margin-top: 1rem;
  margin-left: 7rem;
}

.submit-btn:hover {
  opacity: 0.9;
}

.login-link {
  margin-top: 2rem;
  margin-left: 7rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.login-link a {
  color: #596d48;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}